body {
    text-align: center;
}
body>*:not(.button):not(h1):not(h2){
    text-align: left;
}
* {
    font-family: 'NanumBarunpen';
}

h1,h2 {
    font-family: 'seongsir';
    text-align: center;
}

h2 {
    opacity: 0.7;
}

h3 {
    font-size: 24px;
}

textarea {
    outline: none;
    width: 100%;
    padding: 24px;
    background-color: #F6F6F6;
    font-size: 18px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 1s cubic-bezier(0,.65,.25,1);
    resize: none;
}

textarea:hover {
    border-radius: 24px;
}

textarea:focus {
    border: 2px solid #DEDEDE;
    border-radius: 24px;
}

.button {
    font-size: 18px;
    display: inline-block;
    font-weight: 900;
    margin-top: 36px;
    transition: 1s cubic-bezier(0,.65,.25,1);
}

.button img {
    margin-top: -1px;
    margin-left: 3px;
}

.button:hover {
    transform: translateY(-5px);
}

.success_modal {
    padding: 24px;
    text-align: center;
}

.success_modal h1 {
    font-size: 24px;
}

.success_modal * {
    font-family: 'NanumBarunpen';
}

.success_modal p {
    font-size: 18px;
}

.success_modal input {
    border: 2px solid #DEDEDE;
    outline: none;
    padding: 18px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    background-color: #F6F6F6;
    transition: 1s cubic-bezier(0,.65,.25,1);
}

.success_modal input:focus {
    border: 2px solid #DEDEDE;
    border-radius: 24px;
}